apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.appname }}
spec:
  selector:
    matchLabels:
      app: {{ .Values.appname }}
  template:
    metadata:
      labels:
        app: {{ .Values.appname }}
    spec:
      securityContext:
        runAsUser: {{ .Values.securityContext.runAsUser }}
        runAsGroup: {{ .Values.securityContext.runAsGroup }}
        fsGroup: {{ .Values.securityContext.runAsUser }}
      containers:
        - name: aeneaai
          image: elautoestopista/aeneaai:{{ .Values.ai.version }}
          imagePullPolicy: Always
          resources:
            requests:
              cpu: {{ .Values.ai.deployment.req.cpu }}
              memory: {{ .Values.ai.deployment.req.mem }}
            limits:
              cpu: {{ .Values.ai.deployment.lim.cpu }}
              memory: {{ .Values.ai.deployment.lim.mem }}
        - name: aeneabot
          image: elautoestopista/aeneabot:{{ .Values.bot.version }}
          imagePullPolicy: Always
          {{ if .Values.prometheusEnabled }}
          ports:
            - containerPort: {{ .Values.prometheusPort }}
          {{ end }}
          resources:
            requests:
              cpu: {{ .Values.bot.deployment.req.cpu }}
              memory: {{ .Values.bot.deployment.req.mem }}
            limits:
              cpu: {{ .Values.bot.deployment.lim.cpu }}
              memory: {{ .Values.bot.deployment.lim.mem }}
          volumeMounts:
            - name: {{ .Values.appname }}-storage
              mountPath: {{ .Values.dbPath }}
            - name: aenea-config
              readOnly: true
              mountPath: "/opt/aenea"
      volumes:
        - name: {{ .Values.appname }}-storage
          persistentVolumeClaim:
            claimName: {{ .Values.appname }}-pvc

        - name: aenea-config
          secret:
            secretName: aeneaconfig
